*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

classes/

!com/**/*.class
!**/WEB-INF/**/*.jar

file-lock.txt

logs
/extend/proguard-springboot/target/proguard-springboot-0.0.1-SNAPSHOT.jar.original
